createdAt: "2018-01-31T15:47:16.763Z"
updatedAt: "2018-01-31T15:48:04.489Z"
type: "MARKDOWN_NOTE"
folder: "44fdb35d07f0d5f75c56"
title: "TITLE"
content: '''
  # TITLE in body

  CONTENT1


'''
tags: [
  "tag1"
  "tag2"
]
isStarred: false
isTrashed: false
